<!-- div class="container">
  <div class="row">
    <div class="col-lg-3 col-xs-12 more-photo-area">
      <div class="more-photo-title" style=" color: {{ _type_font_color }};">
        More photo
      </div>
      <div class="more-photo-subtitle">
        What to expect
      </div>
    </div>
    <div class="col-lg-9 col-xs-12">
      <div class="slide-wrapper" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16.png?v=1594126964">
        </div>
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16_1.png?v=1594126983">
        </div>        
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16_2.png?v=1594127000">
        </div>            
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16.png?v=1594126964">
        </div>
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16_1.png?v=1594126983">
        </div>        
        <div class="slide-item">
          <img class="lazyautosizes lazyloaded slide-item-padding" src="//cdn.shopify.com/s/files/1/0047/8209/6456/files/Rectangle_16_2.png?v=1594127000">
        </div>               
      </div>
    </div>
  </div>
</div -->