<div class="collection-professional-template">
  {%- section 'collection-professional-hero' -%}
  {%- section 'collection-professional-text-columns' -%}
  {%- section 'collection-professional-video' -%}
  {%- section 'collection-professional-text-grids' -%}
  {%- section 'collection-professional-products-grid' -%}
  {%- section 'collection-professional-image-gallery' -%}
  {%- section 'collection-professional-slide' -%}
</div>