<div class="collection-color-mask-template">
  {%- section 'collection-color-quiz-hero' -%}
  {%- section 'collection-color-quiz-text-columns' -%}
  {%- section 'collection-color-quiz-video' -%}
  {%- section 'collection-color-quiz-text-grids' -%}
  {%- section 'collection-color-quiz-products-grid' -%}
  {%- section 'collection-color-quiz-image-gallery' -%}
  {%- section 'collection-color-quiz-slide' -%}
</div>