<div class="collection-nature-template">
  {%- section 'collection-nature-hero' -%}
  {%- section 'collection-nature-text-columns' -%}
  {%- section 'collection-nature-video' -%}
  {%- section 'collection-nature-text-grids' -%}
  {%- section 'collection-nature-products-grid' -%}
  {%- section 'collection-nature-image-gallery' -%}
  {%- section 'collection-nature-slide' -%}
</div>