<div class="collection-optima-template">
  {%- section 'collection-optima-hero' -%}
  {%- section 'collection-optima-text-columns' -%}
  {%- section 'collection-optima-video' -%}
  {%- section 'collection-optima-text-grids' -%}
  {%- section 'collection-optima-products-grid' -%}
  {%- section 'collection-optima-image-gallery' -%}
  {%- section 'collection-optima-slide' -%}
</div>