<div class="collection-color-mask-template">
  {%- section 'collection-color-mask-hero' -%}
  {%- section 'collection-color-mask-text-columns' -%}
  {%- section 'collection-color-mask-image' -%}
  {%- section 'collection-color-mask-video' -%}
  {%- section 'collection-color-mask-text-grids' -%}
  {%- section 'collection-color-mask-products-grid' -%}
  {%- section 'collection-color-mask-image-gallery' -%}
  {%- section 'collection-color-mask-slide' -%}
</div>