{% comment %}
  The contents of the page.contact.liquid template can be found in /sections/page-contact-template.liquid
{% endcomment %}
<div style="padding-top: 80px; margin-bottom: 50px;">
{% section 'page-contact-template' %}
</div>