{%- include 'breadcrumb' -%}
<div class="container">
  <div id="col-main">
    <div class="page-content" style="padding-top: 120px; padding-bottom: 50px; width: 80%; margin-left: 10%;">
      {{ page.content }}
    </div>
  </div>
</div>